In [1]:
import numpy as np
import pandas as pd

In [2]:
tny = pd.read_csv('dataset/TourneyCompactResults.csv')
tny.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985     136   1116      63   1234      54    N      0
1    1985     136   1120      59   1345      58    N      0
2    1985     136   1207      68   1250      43    N      0
3    1985     136   1229      58   1425      55    N      0
4    1985     136   1242      49   1325      38    N      0

In [3]:
data = tny[tny.Season == 2016]
np.sort(data.Wteam.append(data.Lteam, ignore_index=True).unique())

array([1112, 1114, 1122, 1124, 1138, 1139, 1143, 1151, 1153, 1160, 1163,
       1167, 1173, 1181, 1192, 1195, 1201, 1211, 1214, 1218, 1221, 1231,
       1233, 1234, 1235, 1242, 1246, 1268, 1274, 1276, 1277, 1292, 1314,
       1320, 1323, 1328, 1332, 1333, 1338, 1344, 1345, 1355, 1371, 1372,
       1380, 1386, 1392, 1393, 1396, 1400, 1401, 1403, 1409, 1421, 1423,
       1425, 1428, 1433, 1435, 1437, 1438, 1451, 1452, 1453, 1455, 1458,
       1462, 1463])

In [4]:
def get_test(tny, season):
    data = tny[tny.Season == season]
    tmid = np.sort(data.Wteam.append(data.Lteam, ignore_index=True).unique())
    l = list()
    for t1 in tmid:
        for t2 in tmid:
            if t2 > t1:
                l.append(str(season) + "_" + str(t1) + "_" + str(t2))
    p = pd.DataFrame(pd.Series(l), columns=['Id'])
    p['Pred'] = 0.5
    return p

In [5]:
print(get_test(tny, 2014))

                  Id  Pred
0     2014_1107_1110   0.5
1     2014_1107_1112   0.5
2     2014_1107_1113   0.5
3     2014_1107_1124   0.5
4     2014_1107_1140   0.5
5     2014_1107_1142   0.5
6     2014_1107_1153   0.5
7     2014_1107_1157   0.5
8     2014_1107_1160   0.5
9     2014_1107_1163   0.5
10    2014_1107_1166   0.5
11    2014_1107_1173   0.5
12    2014_1107_1174   0.5
13    2014_1107_1181   0.5
14    2014_1107_1184   0.5
15    2014_1107_1196   0.5
16    2014_1107_1203   0.5
17    2014_1107_1211   0.5
18    2014_1107_1217   0.5
19    2014_1107_1234   0.5
20    2014_1107_1235   0.5
21    2014_1107_1242   0.5
22    2014_1107_1243   0.5
23    2014_1107_1246   0.5
24    2014_1107_1257   0.5
25    2014_1107_1264   0.5
26    2014_1107_1269   0.5
27    2014_1107_1272   0.5
28    2014_1107_1273   0.5
29    2014_1107_1276   0.5
...              ...   ...
2248  2014_1437_1459   0.5
2249  2014_1437_1462   0.5
2250  2014_1438_1444   0.5
2251  2014_1438_1451   0.5
2252  2014_1438_1454   0.5
2253  2014_1438_1455   0.5
2254  2014_1438_1458   0.5
2255  2014_1438_1459   0.5
2256  2014_1438_1462   0.5
2257  2014_1444_1451   0.5
2258  2014_1444_1454   0.5
2259  2014_1444_1455   0.5
2260  2014_1444_1458   0.5
2261  2014_1444_1459   0.5
2262  2014_1444_1462   0.5
2263  2014_1451_1454   0.5
2264  2014_1451_1455   0.5
2265  2014_1451_1458   0.5
2266  2014_1451_1459   0.5
2267  2014_1451_1462   0.5
2268  2014_1454_1455   0.5
2269  2014_1454_1458   0.5
2270  2014_1454_1459   0.5
2271  2014_1454_1462   0.5
2272  2014_1455_1458   0.5
2273  2014_1455_1459   0.5
2274  2014_1455_1462   0.5
2275  2014_1458_1459   0.5
2276  2014_1458_1462   0.5
2277  2014_1459_1462   0.5

[2278 rows x 2 columns]

In [6]:
for ss in range(2002, 2017):
    test = get_test(tny, ss)
    test.to_csv('dataset/sample_submission_' + str(ss) + ".csv")