In [1]:
import numpy as np
import pandas as pd

In [2]:
mt = pd.read_csv('dataset/kaggle/TourneyCompactResults.csv')
mr = pd.read_csv('dataset/kaggle/RegularSeasonCompactResults.csv')
teams = pd.read_csv('dataset/kaggle/Teams.csv')

pcbrl = list()
for s in range(2002, 2017):
    tmp = pd.read_csv('dataset/kenpom/PCBR_' + str(s) + '.csv')
    tmp['Season'] = s
    pcbrl.append(tmp)

In [3]:
pcbr = pd.concat(pcbrl)
pcbr.Season.astype('int')
pcbr = pd.merge(pcbr, teams, how = 'left', left_on = 'Team', right_on='Team_Name')

In [4]:
#pcbr.query('Season == 2002 and Team_Id == 1401')
#for i in range(2002,2017):
#    c = pcbr[pcbr.Season == i]
#    print(c[c.Team_Id.duplicated()])

In [5]:
m = pd.concat([mt,mr])
m.shape

(147339, 8)

In [6]:
m['Team1'] = m.apply(lambda x: x.Wteam if x.Wteam < x.Lteam else x.Lteam, axis=1)
m['Team2'] = m.apply(lambda x: x.Lteam if x.Wteam < x.Lteam else x.Wteam, axis=1)
m['WL'] = m.apply(lambda x: 1 if x.Wteam < x.Lteam else 0, axis=1)

In [7]:
m.head(20)

    Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  Team1  Team2  WL
0     1985     136   1116      63   1234      54    N      0   1116   1234   1
1     1985     136   1120      59   1345      58    N      0   1120   1345   1
2     1985     136   1207      68   1250      43    N      0   1207   1250   1
3     1985     136   1229      58   1425      55    N      0   1229   1425   1
4     1985     136   1242      49   1325      38    N      0   1242   1325   1
5     1985     136   1246      66   1449      58    N      0   1246   1449   1
6     1985     136   1256      78   1338      54    N      0   1256   1338   1
7     1985     136   1260      59   1233      58    N      0   1233   1260   0
8     1985     136   1314      76   1292      57    N      0   1292   1314   0
9     1985     136   1323      79   1333      70    N      0   1323   1333   1
10    1985     136   1326      75   1235      64    N      0   1235   1326   0
11    1985     136   1328      96   1299      83    N      0   1299   1328   0
12    1985     136   1374      85   1330      68    N      0   1330   1374   0
13    1985     136   1385      83   1380      59    N      0   1380   1385   0
14    1985     136   1396      60   1439      57    N      0   1396   1439   1
15    1985     136   1424      85   1361      80    N      0   1361   1424   0
16    1985     137   1104      50   1112      41    N      0   1104   1112   1
17    1985     137   1130      55   1403      53    N      0   1130   1403   1
18    1985     137   1181      75   1337      62    N      0   1181   1337   1
19    1985     137   1208      67   1455      59    N      0   1208   1455   1

In [8]:
data = m.loc[m.Season.isin(range(2002,2017)), ['Season','Team1','Team2','WL']]
#data = m.loc[m.Season == 2002, ['Season','Team1','Team2','WL']]
data.shape

(76774, 4)

In [9]:
data = pd.merge(data, pcbr, left_on=['Season','Team1'], right_on=['Season', 'Team_Id'], how = 'left')
data.shape

(76774, 19)

In [10]:
data = pd.merge(data, pcbr, left_on=['Season','Team2'], right_on=['Season', 'Team_Id'], how = 'left')
data.shape

(76774, 34)

# Missing Value

In [11]:
data[data.isnull().any(axis = 1)]

,Season,Team1,Team2,WL,Rank_x,Team_x,Conf_x,W-L_x,AdjEM_x,AdjO_x,...,AdjO_y,AdjD_y,AdjT_y,Luck_y,SOS AdjEM_y,SOS OppO_y,SOS OppD_y,NCSOS AdjEM_y,Team_Id_y,Team_Name_y
29245,2008,1223,1338,0,NaN,NaN,NaN,NaN,NaN,NaN,...,111.8,92.4,67.5,0.028,9.69,104.5,94.8,1.14,1338.0,Pittsburgh
29313,2008,1223,1387,0,NaN,NaN,NaN,NaN,NaN,NaN,...,96.3,95.4,61.9,0.067,4.87,103.5,98.6,1.01,1387.0,St Louis
29346,2008,1223,1299,0,NaN,NaN,NaN,NaN,NaN,NaN,...,92.2,107.3,70.1,0.090,-8.47,94.9,103.4,8.05,1299.0,NC A&T
29722,2008,1223,1322,0,NaN,NaN,NaN,NaN,NaN,NaN,...,95.0,103.3,75.5,0.089,-2.78,97.5,100.3,2.64,1322.0,Northwestern LA
29959,2008,1223,1456,0,NaN,NaN,NaN,NaN,NaN,NaN,...,96.5,99.4,64.2,0.052,-1.54,98.7,100.2,-3.67,1456.0,William & Mary
30257,2008,1223,1375,0,NaN,NaN,NaN,NaN,NaN,NaN,...,108.4,96.9,68.3,-0.000,-1.19,100.2,101.4,2.42,1375.0,South Alabama
30513,2008,1223,1374,0,NaN,NaN,NaN,NaN,NaN,NaN,...,91.6,103.5,67.7,0.053,0.85,100.2,99.3,-6.90,1374.0,SMU
30665,2008,1166,1223,1,74.0,Creighton,MVC,22-11,10.60,104.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31029,2008,1223,1300,1,NaN,NaN,NaN,NaN,NaN,NaN,...,81.5,104.1,71.6,0.033,1.49,101.2,99.7,3.09,1300.0,NC Central
32061,2008,1223,1410,0,NaN,NaN,NaN,NaN,NaN,NaN,...,101.8,109.3,67.5,-0.004,-10.53,94.1,104.6,-6.07,1410.0,UTRGV
34386,2009,1165,1377,1,108.0,Cornell,Ivy,21-10,5.03,104.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34411,2009,1282,1315,0,281.0,Missouri KC,Sum,7-24,-10.74,95.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34496,2009,1153,1377,1,86.0,Cincinnati,BE,18-14,8.53,104.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34934,2009,1201,1370,1,207.0,Fresno St,WAC,13-21,-3.67,96.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35023,2009,1256,1370,0,163.0,Louisiana Tech,WAC,15-18,-0.00,97.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35061,2009,1361,1370,1,36.0,San Diego St,MWC,26-10,15.67,105.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35149,2009,1340,1370,1,119.0,Portland St,BSky,23-10,3.91,105.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35271,2009,1285,1315,1,171.0,Montana,BSky,17-12,-0.65,101.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35274,2009,1323,1377,1,40.0,Notre Dame,BE,21-15,15.04,111.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35468,2009,1315,1320,0,NaN,NaN,NaN,NaN,NaN,NaN,...,106.7,97.2,63.7,0.053,3.14,101.6,98.5,2.35,1320.0,Northern Iowa
35475,2009,1340,1370,1,119.0,Portland St,BSky,23-10,3.91,105.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35730,2009,1142,1370,0,271.0,Cal Poly SLO,BW,7-21,-9.33,93.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35767,2009,1370,1414,1,NaN,NaN,NaN,NaN,NaN,NaN,...,101.0,105.4,65.2,-0.006,-2.24,99.1,101.3,-1.86,1414.0,UC Irvine
35954,2009,1315,1453,0,NaN,NaN,NaN,NaN,NaN,NaN,...,108.8,98.9,67.8,-0.018,0.65,99.6,99.0,-0.96,1453.0,WI Green Bay
36054,2009,1315,1455,0,NaN,NaN,NaN,NaN,NaN,NaN,...,98.9,96.6,65.3,-0.006,3.20,101.5,98.3,1.54,1455.0,Wichita St
36171,2009,1309,1377,0,282.0,New Orleans,SB,11-19,-11.08,88.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36213,2009,1333,1370,1,111.0,Oregon St,P10,18-18,4.82,102.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36341,2009,1258,1370,0,324.0,Loy Marymount,WCC,3-28,-18.38,85.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36504,2009,1339,1370,1,109.0,Portland,WCC,19-13,4.89,103.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36550,2009,1315,1401,0,NaN,NaN,NaN,NaN,NaN,NaN,...,109.2,94.5,67.1,0.053,8.78,104.6,95.8,-1.27,1401.0,Texas A&M
37427,2009,1188,1370,0,302.0,Edwardsville,ind,3-12,-13.42,87.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37431,2009,1315,1377,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37764,2009,1188,1370,0,302.0,Edwardsville,ind,3-12,-13.42,87.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37768,2009,1315,1377,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38021,2009,1188,1377,1,302.0,Edwardsville,ind,3-12,-13.42,87.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38092,2009,1315,1370,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38282,2009,1294,1315,1,203.0,N Colorado,BSky,14-18,-3.25,99.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38427,2009,1370,1377,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38507,2009,1167,1370,0,273.0,CS Bakersfield,ind,8-21,-9.57,96.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38621,2009,1188,1315,0,302.0,Edwardsville,ind,3-12,-13.42,87.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38761,2009,1188,1377,0,302.0,Edwardsville,ind,3-12,-13.42,87.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38842,2009,1186,1370,0,253.0,E Washington,BSky,12-18,-7.58,94.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38979,2009,1315,1370,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39076,2009,1370,1377,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39132,2009,1188,1315,0,302.0,Edwardsville,ind,3-12,-13.42,87.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39188,2009,1370,1449,0,NaN,NaN,NaN,NaN,NaN,NaN,...,108.8,87.3,74.5,-0.005,10.95,106.7,95.8,3.54,1449.0,Washington
39355,2009,1315,1377,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39375,2009,1188,1370,0,302.0,Edwardsville,ind,3-12,-13.42,87.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39427,2009,1315,1370,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39430,2009,1188,1377,0,302.0,Edwardsville,ind,3-12,-13.42,87.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
data = data.dropna(axis=0)
data.shape

(76724, 34)

In [13]:
data = data.drop(['Rank_x','Rank_y','Team_x','Team_y','Conf_x','Conf_y','W-L_x','W-L_y',
                  'Team_Id_x','Team_Id_y','Team_Name_x','Team_Name_y','Season','Team1','Team2'], axis=1)
data.columns

Index([u'WL', u'AdjEM_x', u'AdjO_x', u'AdjD_x', u'AdjT_x', u'Luck_x',
       u'SOS AdjEM_x', u'SOS OppO_x', u'SOS OppD_x', u'NCSOS AdjEM_x',
       u'AdjEM_y', u'AdjO_y', u'AdjD_y', u'AdjT_y', u'Luck_y', u'SOS AdjEM_y',
       u'SOS OppO_y', u'SOS OppD_y', u'NCSOS AdjEM_y'],
      dtype='object')

In [14]:
data.rename(columns={'AdjEM_x':'T1_AdjEM',
                     'AdjO_x':'T1_AdjO',
                     'AdjD_x':'T1_AdjD',
                     'AdjT_x':'T1_AdjT',
                     'Luck_x':'T1_Luck',
                     'SOS AdjEM_x':'T1_SOSADjEM',
                     'SOS OppO_x':'T1_SOSOppO',
                     'SOS OppD_x':'T1_SOSOppD',
                     'NCSOS AdjEM_x':'T1_NCSOSAdjEM',
                     'AdjEM_y':'T2_AdjEM',
                     'AdjO_y':'T2_AdjO',
                     'AdjD_y':'T2_AdjD',
                     'AdjT_y':'T2_AdjT',
                     'Luck_y':'T2_Luck',
                     'SOS AdjEM_y':'T2_SOSADjEM',
                     'SOS OppO_y':'T2_SOSOppO',
                     'SOS OppD_y':'T2_SOSOppD',
                     'NCSOS AdjEM_y':'T2_NCSOSAdjEM'}, inplace=True)
data.head()

,WL,T1_AdjEM,T1_AdjO,T1_AdjD,T1_AdjT,T1_Luck,T1_SOSADjEM,T1_SOSOppO,T1_SOSOppD,T1_NCSOSAdjEM,T2_AdjEM,T2_AdjO,T2_AdjD,T2_AdjT,T2_Luck,T2_SOSADjEM,T2_SOSOppO,T2_SOSOppD,T2_NCSOSAdjEM
0,0,-8.69,98.1,106.8,74.2,0.097,-15.24,93.2,108.4,-2.29,-1.20,98.6,99.8,68.9,-0.070,-3.90,98.7,102.6,-1.15
1,1,18.73,111.9,93.2,69.1,0.076,9.90,106.3,96.4,2.49,-2.48,97.5,100.0,71.6,0.061,-5.12,100.3,105.4,-5.36
2,1,20.52,117.2,96.7,73.0,0.080,14.48,109.9,95.4,18.68,8.90,106.1,97.2,64.8,-0.058,0.23,101.4,101.2,2.86
3,1,34.14,118.9,84.7,75.9,-0.027,10.09,107.8,97.7,7.52,-5.33,95.2,100.5,68.0,0.039,-10.81,95.4,106.2,-1.40
4,1,24.80,112.0,87.2,66.8,-0.049,13.66,109.0,95.4,13.51,14.11,109.4,95.2,63.6,0.011,5.87,104.9,99.0,3.57

In [15]:
data.shape

(76724, 19)

In [16]:
data.to_csv('dataset/All_PCBR_For_2002_2016_Matchup.csv', index=False)