# DA - March Machine Learning Mania 2017

## Exploration of data

In [1]:
import numpy as np
import pandas as pd

In [8]:
teams_df = pd.read_csv('/media/sf_QMUL_SD/DataAnalytics/CourseWork/data/Teams.csv')
games_df = pd.read_csv('/media/sf_QMUL_SD/DataAnalytics/CourseWork/data/RegularSeasonCompactResults.csv')

In [32]:
games_count_df = games_df.groupby(['Wteam']).size().reset_index(name='counts').sort_values(by=['counts'], ascending=False)[:20]
print(games_count_df)

     Wteam  counts
80    1181     819
141   1242     804
145   1246     765
213   1314     761
11    1112     746
292   1393     738
171   1272     692
323   1424     685
156   1257     682
361   1462     681
62    1163     679
227   1328     673
176   1277     667
110   1211     663
127   1228     660
295   1396     656
316   1417     655
52    1153     652
299   1400     652
95    1196     644

In [33]:
print(games_count_df.join(teams_df))

     Wteam  counts  Team_Id       Team_Name
80    1181     819     1181            Duke
141   1242     804     1242          Kansas
145   1246     765     1246        Kentucky
213   1314     761     1314  North Carolina
11    1112     746     1112         Arizona
292   1393     738     1393        Syracuse
171   1272     692     1272         Memphis
323   1424     685     1424            UNLV
156   1257     682     1257      Louisville
361   1462     681     1462          Xavier
62    1163     679     1163     Connecticut
227   1328     673     1328        Oklahoma
176   1277     667     1277     Michigan St
110   1211     663     1211         Gonzaga
127   1228     660     1228        Illinois
295   1396     656     1396          Temple
316   1417     655     1417            UCLA
52    1153     652     1153      Cincinnati
299   1400     652     1400           Texas
95    1196     644     1196         Florida